.navbar-brand {
    white-space: nowrap;
  }

  .navbar-nav {
    flex-grow: 1;
    justify-content: flex-end;
  }

  .navbar-cart {
    display: flex;
    align-items: center;
  }

  .navbar-cart .btn {
    white-space: nowrap;
  }